<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<!-- Basic Bean creation -->
	<!-- <bean id="xmlPojo" class="com.doc.spring.xml.pojo.XmlPojo" name="xmlname1,xmlname2"> -->
	<!-- <property name="name" value="Xml config name"></property> -->
	<!-- </bean> -->

	<!-- Factory bean creation -->
	<bean id="pojoFactory" class="com.doc.spring.factory.PojoFactory">
	</bean>
	<bean id="xmlPojo" factory-bean="pojoFactory" factory-method="createPojo" name="xmlname1,xmlname2" scope="prototype" >
	</bean>

	<bean id="xmlEmbeddedPojo" class="com.doc.spring.xml.pojo.XmlEmbeddedPojo" name="xmlEmbeddedPojoname1,xmlEmbedddedname2" p:name="xmlEmbedded" p:xmlPojo-ref="xmlPojo">
<!-- 		<property name="name" value="xmlEmbedded"></property> -->
<!-- 		<property name="xmlPojo" ref="xmlPojo"></property> -->
	</bean>

	<!-- Di by constructor -->
	<bean class="com.doc.spring.xml.pojo.XmlDiPojo" id="xmlDiPojoId">
		<constructor-arg name="secondName" value="Second Name Arg1" />
		<constructor-arg name="name" value="Name Arg0" />

	</bean>

	<bean abstract="true" id="abstractTemplate">
		<property name="props">
			<props>
				<prop key="key1">value1Parent</prop>
				<prop key="key2">value2Parent</prop>
				<prop key="key3ToOverried">value3Parent</prop>
			</props>
		</property>
	</bean>
	<!-- Xml with java.util.Properties -->
	<bean class="com.doc.spring.xml.pojo.XmlPropsInheritsPojo" id="child" parent="abstractTemplate">
<!-- 		<property name="props"> -->
<!-- 			<props merge="false"> -->
<!-- 				<prop key="key1">value1child</prop> -->
<!-- 				<prop key="key2">value2child</prop> -->
<!-- 				<prop key="key3ToOverried">value3Child</prop> -->
<!-- 			</props> -->
<!-- 		</property> -->
	</bean>

	<!-- Aware beans -->
	<bean class="com.doc.spring.xml.pojo.BasicAwarePojo" id="basicAwarePojo">
		<property name="xmlpojo" ref ="xmlPojo"> </property>
	 </bean>
<!-- 	 loockup injection method -->
	 <bean class="com.doc.spring.xml.pojo.BasicLoockupInjectionBean" id="basicLookupInjection" >
	 <lookup-method name="getNewXmlPojo" bean="xmlPojo"/>
	 </bean>
</beans>
